
*, *::after, *::before {
  box-sizing: border-box;
}

::-moz-selection {
  /* Code for Firefox */
  background-color: #f8b600;
  color: #fff;
}

::selection {
  background-color: #f8b600;
  color: #fff;
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #777777;
  font-weight: 300;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #777777;
  opacity: 1;
  font-weight: 300;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #777777;
  opacity: 1;
  font-weight: 300;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #777777;
  font-weight: 300;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #777777;
  font-weight: 300;
}

body {
  color: #777777;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.625em;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px auto 535px;
}

a {
  text-decoration: none;
}

header {
  display: grid;
  grid-template-columns: 100px 1fr;
  align-items: center;
  z-index: 111;
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  width: 1140px;
  margin: 25px auto 0;
  background: rgba(255, 255, 255, 0.15);
  margin-top: 30px;
  padding: 0 20px;
}

header nav {
  text-align: right;
}

header nav a {
  text-decoration: none;
  padding: 10px 20px;
  color: #777777;
}

header nav a:hover {
  color: #f8b600;
}

.banner-area {
  background: url(../img/hero-bg.jpg) center;
  background-size: cover;
  grid-row: 1 / 3;
  overflow: hidden;
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-bottom: 50px;
}

.banner-area .overlay-bg {
  background: rgba(4, 9, 30, 0.4);
}

.banner-area .container {
  z-index: 1;
  /* width: 50% */
}

.banner-left {
  width: 50%;
}

.banner-left h1 {
  margin: 20px 0;
  font-size: 60px;
  text-transform: uppercase;
}

.banner-left h6 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 2px;
}

.banner-left p {
  margin: 20px 0px;
}

.primary-btn {
  background: #f8b600;
  line-height: 42px;
  padding-left: 30px;
  padding-right: 30px;
  border: none;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  position: relative;
}

.banner-left .primary-btn:hover {
  background: #222;
  color: #fff;
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}


h1 {
  font-size: 36px;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.popular-destination-area .container .row:nth-of-type(2) {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  text-align: center;
}

.single-destination {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.single-destination .overlay-bg {
  background: rgba(4, 9, 30, 0.4);
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 0;
}

.single-destination:hover .overlay-bg {
  opacity: 1;
}

.single-destination .thumb img {
  width: 100%;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.single-destination .desc {
  text-align: center;
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.single-destination .desc .price-btn {
  background: #f8b600;
  text-align: center;
  color: #222;
  padding: 6px 30px;
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  margin: 10px;
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.single-destination:hover .price-btn {
  opacity: 1;
}

.single-destination .desc h4 {
  color: #fff;
}

h4 {
  font-size: 18px;
}

.single-destination .desc p {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 0px;
}


.other-issue-area {
  height: 500px;
  background: url(../img/price-bg.png);
  background-size: cover;
  padding: 40px 0;
}

.other-issue-area .container .row:nth-of-type(2) {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  text-align: center;
}

.single-other-issue h4 {
  margin: 20px 0;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.single-other-issue:hover h4 {
  color: #f8b600;
}

.single-other-issue:hover .thumb img {
  transform: scale(1.08) rotate(-3deg);
}
.single-other-issue .thumb img {
  width: 100%;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.single-other-issue .thumb {
  overflow: hidden;
}

.testimonial-area {
  background-color: #f9f9ff;
  padding: 80px 0;
}

.active-testimonial {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}

.single-testimonial {
  background-color: #fff;
  padding: 25px 30px 12px 30px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: grid;
  grid-template-columns: 50px 1fr;
  gap: 20px;

}

.single-testimonial .img-fluid {
  border-radius: 50%;
}

.home-about-area .row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.home-about-area  .row div:nth-of-type(1) {
  grid-column: 2 / 4;
  padding-top: 30px;
}

.home-about-area .row div:nth-of-type(2) {
  grid-column: 4 / -1;
}

.home-about-area .home-about-left p {
  padding: 20px 0;
}

.home-about-area .home-about-left .primary-btn {
  margin-top: 10px;
  background: #222;
  font-size: 14px;
}

.home-about-area .home-about-left .primary-btn:hover {
  background: #f8b600;
}

.footer-area {
  background: #04091e;
  padding-top: 100px;
  grid-column: 1 / -1;
}

.footer-area .container .row:nth-of-type(1) {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.single-footer-widget {
  color: #fff;
}

.footer-area h6 {
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 25px;
  font-size: 16px;
  font-weight: 600;
}

.single-footer-widget p {
  color: #777777;
}

.single-footer-widget ul li a {
    color: #777777;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.single-footer-widget ul li a:hover {
  color: #f8b600;
}

.flex-row {
  flex-direction: row !important;
}

.d-flex {
  display: flex !important;
}

.single-footer-widget input {
  line-height: 38px;
  border: none;
  background: transparent;
  border: 1px solid #333;
  font-weight: 300;
  color: #777;
  padding-left: 20px;
  width: 80%;
}

.single-footer-widget .bb-btn {
  background-color: #f8b600;
  color: #fff;
  font-weight: 300;
  border-radius: 0;
  cursor: pointer;
}

.single-footer-widget ul li {
  margin-bottom: 12px;
}

.instafeed li {
  float: left;
  width: 25%;
}

.footer-bottom {
  padding-top: 40px;
  margin-top: 20px;
  border-top: 1px solid #333;
}
.align-items-center {
  align-items: center !important;
}
.justify-content-between {
  justify-content: space-between !important;
}

.footer-text a, .footer-text i {
  color: #f8b600;
}

.justify-content-center {
  justify-content: center;
}

.footer-social i {
  color: #cccccc;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer-social a {
  width: 20px;
  width: 40px;
  display: inline-table;
  height: 40px;
  text-align: center;
  padding-top: 10px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

#mc_embed_signup .bb-btn {
  padding-right: 10px;
  padding-left: 10px;
  border: none;
}


/* Contact-1 */

.contact-content {
  grid-column: 1 / -1;
  grid-row: 1 / 3;
}

.about-banner {
  grid-column: 1 / -1;
  grid-row: 1 / 3;

  background: url(../img/top-banner.jpg) center;
  background-size: cover;
}

.about-content {
  margin-top: 70px;
  padding: 90px 0px;
  text-align: center;
  z-index: 11;
}

.about-banner .overlay-bg {
  background: rgba(4, 9, 30, 0.4);
}

.about-content h1 {
  font-size: 48px;
  font-weight: 600;
}

.link-nav {
  margin-top: 10px;
  margin-bottom: 0px;
}

.about-content a {
  color: #fff;
  font-weight: 300;
  font-size: 14px;
}

.about-content .lnr {
  margin: 0px 10px;
  font-weight: 600;
}

.contact-page-area .map-wrap {
  margin-bottom: 120px;

  width: 100%;
    height: 445px;
    position: relative;
    overflow: hidden;
}

.contact-page-area .address-wrap .single-contact-address {
  margin-bottom: 8px;
}

.contact-page-area .address-wrap .single-contact-address .lnr {
  font-size: 30px;
  font-weight: 500;
  color: #f8b600;
  margin-right: 30px;
}

.contact-page-area .address-wrap .single-contact-address h5 {
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 5px;
}

.contact-page-area .form-area input, .contact-page-area .form-area textarea {
  border-radius: 0;
  font-size: 13px !important;
}
.contact-page-area .form-area input {
  padding: 15px;
  width: 100%;
}

.contact-page-area .form-area .genric-btn {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-radius: 0 !important;
  font-size: 14px;
  text-transform: uppercase !important;
}

.genric-btn.primary {
  color: #fff;
  background: #f8b600;
  border: 1px solid transparent;
}
.genric-btn {
  display: inline-block;
  outline: none;
  line-height: 40px;
  padding: 0 30px;
  font-size: .8em;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.contact-page-area .form-area .genric-btn:hover {
  border: 1px solid #f8b600;
  color: #f8b600 !important;
}

.genric-btn.primary:hover {
  color: #f8b600;
  border: 1px solid #f8b600;
  background: #fff;
}

.contact-form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.contact-content .col-lg-8 {
  grid-column: 2 / -1;
}

.contact-form .row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  grid-column: 1 / -1;
}

.contact-form .row div:nth-of-type(2) textarea {
  height: 100%;
}

.contact-form .row .col-lg-12 {
  grid-column: 2 / -1;
}

.contact-form .row div:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  gap: 20px;
}